.form__container
  max-width: 370px
  margin: 0 auto
  
.todo__form
  display: flex
  flex-wrap: wrap

.form__item
  display: inline-block
  flex-grow: 1
  width: 30%

.form__item:first-child
  width: 65%
  margin-right: 10px

.form__label--required
  color: #f00
  font-weight: 600

.form__input
  display: inline-block
  height: 40px
  width: 100%
  margin: 8px 0
  padding: 10px 
  font-size: .85rem
  border: 1px solid #ccc
  border-radius: 4px

.form__button
  width: 100%
  padding: 14px 20px
  margin: 8px 0
  flex-grow: 2
  cursor: pointer
  color: white
  font-size: 1rem
  border: none
  border-radius: 4px
  background-color: #4caf50

.form__button:hover
  background-color: #3a7f3c