.todo__lists
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  max-width: 780px
  margin: 10px auto
  
.todo__item
  display: flex
  justify-content: space-between
  align-items: center
  height: 40px
  margin: 10px 0
  padding-left: 5px
  cursor: default
  font-size: 1.1rem
  border: 2px solid #ccc
  border-radius: 5px

.todo__item:hover
  background-color: #e2e2e2

.list__heading
  text-align: center

.todo__notice
  text-align: center

.todo__task
  padding-right: 10px

.todo__check
  height: 40px
  width: 40px
  margin: -2px
  cursor: pointer
  background: url(../img/unchecked.png) no-repeat
  background-size: contain
   
.todo__check:hover
  background: url(../img/checked.png) no-repeat
  background-size: contain
